In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv("Datas/encoded_data.csv")
df.shape

(62364, 57)

In [3]:
col = df.columns
col = [eval(i) for i in col]
col
df.columns = col
df.head()

,"(N, H, 1)","(N, N, 1)","(N, N, 1.5)","(S, O, 1)","(N, C, 1)","(N, C, 1.5)","(N, S, 1)","(C, N, 3)","(S, N, 1)","(S, H, 1)",...,"(S, C, 2)","(N, S, 2)","(N, O, 1.5)","(N, O, 1)","(O, H, 1)","(O, N, 1.5)","(O, N, 1)","(O, C, 1)","(P, O, 1)","(C, H, 1)"
0,2,1,0,0,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,22
1,0,0,0,0,2,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,16
2,1,0,0,0,2,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,21
3,1,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,16
4,1,0,0,0,1,3,0,0,0,0,...,0,0,0,0,0,0,0,1,0,22

In [4]:
list_selected_col = list()
for a, b, c in col:
    if a == b:
        list_selected_col.append((a,b,c))
    elif ((a,b,c) not in list_selected_col) and ((b,a,c) not in list_selected_col):
        list_selected_col.append((a,b,c))
len(list_selected_col)

36

In [5]:
x = 0
list_selected_col = list()
for a, b, c in df.columns:
    if ((a,b,c) in df.columns and (b, a, c) in df.columns) and (a != b):
        df[(a,b,c)] += df[(b,a,c)]
        x += 1
    if a == b:
        list_selected_col.append((a,b,c))
    elif (a, b, c) not in list_selected_col and (b, a, c) not in list_selected_col:
        list_selected_col.append((a,b,c))
new = df[list_selected_col]
new.head()

,"(N, H, 1)","(N, N, 1)","(N, N, 1.5)","(S, O, 1)","(N, C, 1)","(N, C, 1.5)","(N, S, 1)","(C, N, 3)","(S, H, 1)","(C, S, 1)",...,"(C, O, 1)","(C, C, 1)","(C, C, 1.5)","(C, S, 2)","(N, S, 2)","(N, O, 1.5)","(N, O, 1)","(O, H, 1)","(P, O, 1)","(C, H, 1)"
0,2,1,0,0,7,2,0,0,0,0,...,0,9,4,0,0,0,0,0,0,22
1,0,0,0,0,3,0,0,0,0,0,...,1,8,12,0,0,0,0,1,0,16
2,1,0,0,0,4,0,1,0,0,1,...,0,6,12,0,0,0,0,0,0,21
3,1,0,0,0,2,2,0,1,0,0,...,0,9,10,0,0,0,0,0,0,16
4,1,0,0,0,2,5,0,0,0,0,...,2,9,6,0,0,0,0,0,0,22

In [6]:
new.to_csv("Datas/cleared_data.csv", index=False)