In [2]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("cleared_data.csv")
df

,"('P', 'N', 2)","('C', 'N', 2)","('C', 'S', 2)","('O', 'C', 1)","('O', 'C', 1.5)","('P', 'O', 2)","('S', 'C', 1)","('S', 'C', 1.5)","('N', 'H', 1)","('S', 'S', 1)",...,"('N', 'N', 2)","('O', 'H', 1)","('S', 'H', 1)","('P', 'H', 1)","('P', 'C', 1)","('C', 'C', 1)","('C', 'C', 1.5)","('C', 'C', 3)","('N', 'N', 1.5)","('N', 'N', 1)"
0,0,1,0,1,0,0,2,0,1,0,...,0,0,0,0,0,12,6,0,0,0
1,0,0,0,1,0,0,0,2,1,0,...,0,1,1,0,0,7,3,0,0,0
2,0,0,0,0,0,0,0,0,4,0,...,0,0,0,0,0,9,0,0,0,0
3,0,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,7,6,0,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,9,10,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62082,0,0,0,2,2,0,0,0,1,0,...,0,0,0,0,0,8,6,0,1,0
62083,0,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,7,8,0,0,0
62084,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,0,13,6,0,0,0
62085,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,0,14,0,0,0,0
62086,0,0,0,4,0,0,0,0,2,0,...,0,2,0,0,0,6,6,0,0,0

In [3]:
df = pd.read_csv("functional_group_list.csv")
df

,amines,alcohol,ether,alkyl halide,thiol,aldehyde,ketone,amides,sulfide,carbodiimides,...,azocompound,sulfoxide,azido,nitroso,phospate,phospite,isothio,thioamide,aromatic,cycle
0,1,1,0,0,0,2,0,0,1,0,...,0,0,0,0,0,0,0,0,1,2
1,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,6,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
3,3,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62082,2,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,1
62083,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,1
62084,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,3
62085,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
62086,1,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [4]:
def variance(X : np.array) :
    mean = np.mean(X)
    sum = np.sum([(xi - mean)**2 for xi in X])
    return sum/len(X)

In [5]:
var_list = [(cols, variance(df[cols])) for cols in df.columns]
filetered_columns = [i[0] for i in var_list if i[1] > 1]
filetered_columns

['amines', 'aldehyde', 'haloalkene1']

In [6]:
df = df[filetered_columns]
df

       amines  aldehyde  haloalkene1
0           1         2            2
1           2         0            2
2           6         2            2
3           3         2            2
4           1         0            0
...       ...       ...          ...
62082       2         0            4
62083       1         0            0
62084       3         0            0
62085       3         0            0
62086       1         0            2

[62087 rows x 3 columns]

In [15]:
df.to_csv("functional_group_selected_data.csv", index=False)